.root {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  background: #ffffff40;
  backdrop-filter: blur(10px);
  cursor: pointer;
  min-width: 0;
  -webkit-backdrop-filter: blur(10px);
  border-radius: 32px;
  padding: 21px 0px 12px;
  border: 1px solid #9fadbd33;
}
.root:hover {
  box-shadow: 0px 12px 24px 0px #9fadbd33;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-color: #00a4f31a;
}
.portfolioCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  padding: 0px;
}
.imgHolder {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 12px;
}
.circleouter {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  background: #00a4f31a;
  flex-shrink: 0;
  border-radius: 100px;
  padding: 0px;
}
.circleinner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  max-width: none;
  background: #00a4f31a;
  flex-shrink: 0;
  border-radius: 100px;
  padding: 0px;
}
.productImage2 {
  object-fit: cover;
  max-width: 100%;
  width: 120px;
  height: 120px;
  flex-shrink: 0;
}
.productImage2 > picture > img {
  object-fit: cover;
}
.productImage2 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.portfolioHead {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 12px;
}
.portfolioHead > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.portfolioHead > :global(.__wab_flex-container) > *,
.portfolioHead > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.portfolioHead > :global(.__wab_flex-container) > picture > img,
.portfolioHead
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.h3 {
  font-size: 17px;
  line-height: 22px;
  width: auto;
}
.text__lWhqE {
  font-size: 12px;
  line-height: 16px;
  width: auto;
  color: var(--token-_FhHYszuX);
}
.potfolioDetails {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 12px;
}
.potfolioDetails > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.potfolioDetails > :global(.__wab_flex-container) > *,
.potfolioDetails > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.potfolioDetails > :global(.__wab_flex-container) > picture > img,
.potfolioDetails
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.earn {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__evF {
  font-size: 12px;
  line-height: 16px;
  width: 100%;
  position: relative;
  height: auto;
  color: var(--token-_FhHYszuX);
  min-width: 0;
}
.text___8EB91 {
  font-size: 14px;
  font-weight: 700;
  line-height: 19px;
  width: auto;
  position: relative;
  height: auto;
  text-align: justify;
  white-space: pre;
  color: var(--token-qss76AQ2h);
}
.loading {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 16px;
  overflow: hidden;
  background: var(--token-m0RTnz6xy);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 50px;
  padding: 0px;
}
.freeBox__hCa0Q {
  display: block;
  position: relative;
  height: 24px;
  width: 250px;
  background: var(--token-8UVMAL-6Hi);
  flex-shrink: 0;
  border-radius: 50px;
  padding: 0px;
}
.times {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__xfNsB {
  font-size: 12px;
  line-height: 16px;
  width: 100%;
  position: relative;
  height: auto;
  color: var(--token-_FhHYszuX);
  min-width: 0;
}
.text__wphao {
  font-size: 12px;
  line-height: 16px;
  width: auto;
  position: relative;
  height: auto;
  text-align: justify;
  white-space: pre;
  font-weight: 700;
  color: var(--token-04p3aW714);
}
.freeBox___8RAq2 {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 12px;
}
.freeBox___8RAq2 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox___8RAq2 > :global(.__wab_flex-container) > *,
.freeBox___8RAq2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___8RAq2 > :global(.__wab_flex-container) > picture > img,
.freeBox___8RAq2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.button__fjb8P:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__ywZaw {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__rB7B8 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__fwR7V:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__wvnnf {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg___97U {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
